@page "/C_ocupaciones"


<EditForm Model="ocupacione">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>C_ocupaciones</h3>

        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="1">OcupacionId</option>
                        <option value="2">Descripcion</option>
                        <option value="3">Salario</option>
                    </select>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" />
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2" /> Buscar
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>OcupacionId</th>
                    <th>Descripcion</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.OcupacionId</td>
                        <td>@item.Descripcion</td>
                        <td>@item.Salario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {

    public Ocupaciones  ocupacione {set;get;}= new Ocupaciones();
    public string Filtro{ get; set; }
    public string Criterio{ get; set; }
    public List<Ocupaciones> lista { get; set; } = new List<Ocupaciones>();
     
     [Inject]
    private OcupacionesBLL ocupacionesBLL { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
      
    }

    private void Buscar()
    {
        

        lista = ocupacionesBLL.GetOcupaciones();

    }

}
